
body {
    color: #404040;
}

.navbar-brand a:link, .navbar-brand a:active, .navbar-brand a:visited {
    color:#fff;
}


a:link,a:active,a:visited {
    color:#37B8EB;
}

.quote {
    font-style:italic;
}
    .quote:before {
        content:"\"";
    }

    .quote:after {
        content:"\"";
    }

.display-label {
    font-weight:bold;
}
.artist-block {
}

.artist-block img{
    padding-right:15px;
    padding-bottom:15px;
}

.index-list>.row{
    padding:15px 0;
}

.index-list > :nth-child(even){
  background-color: #ddd;
}
.index-list >:nth-child(odd){
  background-color: #fff;
}

.index-list>.row>div:first-of-type{
    font-weight:bold;
}

@media screen and (max-width:768px) {
.index-list>.row>div:first-of-type{
    margin-bottom:10px;
}
}

@media screen and (min-width:769px) and (max-width:992px){
.index-list>.row>div:first-of-type{
    margin-bottom:10px;
}
}
/*
    <768
    >=768
    >=992
    >=1200
*/