
body {
    color: #404040;
}

.navbar-brand a:link, .navbar-brand a:active, .navbar-brand a:visited {
    color:#fff;
}


a:link,a:active,a:visited {
    color:#37B8EB;
}

.quote {
    font-style:italic;
}
    .quote:before {
        content:"\"";
    }

    .quote:after {
        content:"\"";
    }

.display-label {
    font-weight:bold;
}
.artist-block {
}

.artist-block img{
    padding-right:15px;
    padding-bottom:15px;
}

.index-list {
    border:solid 1px #ddd;
}

.index-list tr th{
    text-transform:uppercase;
    font-weight:bold;
    font-size:1.125em;
}