/*html {
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background: #000;
    background-repeat:no-repeat;
    background: -webkit-linear-gradient( to top, blue, #222);
    background: -moz-linear-gradient( to top, blue, #222);
    background: -ms-linear-gradient( to top, blue, #222);
    background: -o-linear-gradient( to top, blue, #222);
    background: linear-gradient( to top, blue, #222);
}*/


body {
    color: #404040;


}

h3 {
    color: #lightgrey;
}

.logo {
    background:url(../Images/logo.png) no-repeat top left;
    display:block;
    height:83px;
    width:200px;
}

.login-container {
    float: right;
}


.main-content {
    margin-bottom: 15px;
}

.navbar-brand a:link, .navbar-brand a:active, .navbar-brand a:visited {
    color: #fff;
}


a:link, a:active, a:visited {
    color: #37B8EB;
}

.quote {
    font-style: italic;
}

    .quote:before {
        content: "\"";
    }

    .quote:after {
        content: "\"";
    }

.display-label {
    font-weight: bold;
}

.artist-block {
}

    .artist-block img {
        padding-right: 15px;
        padding-bottom: 15px;
    }

#albumInfo img {
    width: 100%;
    margin-bottom: 10px;
}


.index-list > .row {
    padding: 15px 0;
}

.index-list > :nth-child(even) {
    background-color: #ddd;
}

.index-list > :nth-child(odd) {
    background-color: #fff;
}

.index-list > .row > div:first-of-type {
    font-weight: bold;
}


.lower-details {
    margin-bottom: 15px;
    background-color: #ddd;
    padding-top: 15px;
    padding-bottom: 15px;
}


.pagination-container {
background-color:transparent !important;
}

.btn-group>.btn, .btn-group>a.btn {
    margin-right: 0;
    border-radius: 5px;
}



.btn, a.btn {
    border: solid 1px #37B8EB;
    padding: 5px 10px;
    color: #fff;
    background-color: #37B8EB;
    text-decoration: none;
    border-radius: 0;
    text-transform: uppercase;
    margin-right: 4px;
}

.btn-on {
    color: #fff;
    background-color: #37B8EB;
    border-top:solid 1px #fff;
    border-right:solid 1px #37B8EB;
    border-bottom:solid 2px #2783a7;
    border-left:solid 1px #37B8EB;
}

.btn-off {
    color: darkgrey;
    background-color: #ddd;
    border-top:solid 1px #000;
    border-right:solid 2px darkgrey;
    border-bottom:solid 3px darkgrey;
    border-left:solid 2px darkgrey;
}

    .btn:hover, a.btn:hover {
        background-color: #fff;
        color: #37B8EB;
    }


.btn-inverse, a.btn-inverse {
    border: solid 1px #37B8EB;
    padding: 5px 10px;
    color: #37B8EB;
    background-color: #fff;
    text-decoration: none;
    border-radius: 0;
    text-transform: uppercase;
    margin-right: 4px;
}

    .btn-inverse:hover, a.btn-inverse:hover {
        background-color: #37B8EB;
        color: #fff;
    }

.btn-standard::after {
    content: "\e258";
    font-family: "Glyphicons Halflings";
    display: inline-block;
    position: relative;
    top: 2px;
    margin-left: 5px;
}

.btn-back::before {
    content: "\e257";
    font-family: "Glyphicons Halflings";
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.btn-edit::before {
    content: "\e065";
    font-family: "Glyphicons Halflings";
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.btn-remove::before {
    content: "\e020";
    font-family: "Glyphicons Halflings";
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.btn-add::before {
    content: "\2b";
    font-family: "Glyphicons Halflings";
    display: inline-block;
    position: relative;
    top: 2px;
    margin-right: 5px;
}

.btn-more-quotes {
display:none;
}


.form .form-label {
    text-transform: uppercase;
}

    .form .form-label label {
        margin-bottom: 0px;
    }

.form .form-element {
    margin-bottom: 10px;
}

    .form .form-element input, .form .form-element textarea {
        width: 100%;
    }

        .form .form-element input[type=checkbox] {
            width: auto;
        }

.suggestions {
    border-right: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
    border-left: solid 1px #ddd;
    display: none;
}

    .suggestions .loading {
        padding-left: .75em;
    }

    .suggestions p {
        padding: .75em .75em 0 .75em;
        text-transform: uppercase;
    }

    .suggestions > .suggestion {
        border-bottom: solid 1px #ddd;
        padding: .75em;
    }

        .suggestions > .suggestion::before {
            content: "\2b";
            font-family: "Glyphicons Halflings";
            display: inline-block;
            position: relative;
            top: 2px;
            margin-right: 5px;
            float: left;
        }


        .suggestions > .suggestion:hover {
            background-color: #ddd;
            cursor: pointer;
        }

        .suggestions > .suggestion:last-of-type {
            border-bottom: none;
        }
.quote-blocks .quote-block{
    margin-top:30px;
    padding:0;
    background-color:#ddd;
    border:solid 1px #ddd;
}

.quote-blocks .quote-block .artist-info{
    width:30%;
    padding:2%;
    float:left;
    font-weight:bold;
}
.quote-blocks .quote-block .quote-info{
    background-color:#fff;
    width:70%;
    padding:2%;
    float:left;
    line-height:2em;

}


.word {
    background-color: #ddd;
    cursor:pointer;
    border-left:solid 4px #ddd;
    border-right:solid 4px #ddd;
}

.word:hover{
    background-color: #37B8EB;
    color:#fff;
    border-left:solid 4px #37B8EB;
    border-right:solid 4px #37B8EB;
}

.main-search-results {
    display: block;
    position: relative;
    color:#fff;
}

.main-search-results ul{
    padding:0;
    margin:0;
}

.main-search-results ul li{
    list-style-type:none;
    border-bottom:solid 1px #fff;
    padding:.75em 0;
}

.main-search-results ul li:last-of-type{
    border-bottom:none;
}

.navbar-collapse.in {
    overflow-y: visible !important;
}

.navbar {
    border-radius:0;
}
.explicit-toggle {
        display:block !important;
        margin-top:8px;
    }
@media screen and (max-width:768px) {
    .index-list > .row > div:first-of-type {
        margin-bottom: 10px;
    }

}

@media screen and (min-width:769px) and (max-width:992px) {
    .index-list > .row > div:first-of-type {
        margin-bottom: 10px;
    }

    .main-search-results {
        position: absolute;
    }


}

@media screen and (min-width:993px) {
    
}
/*
    <768
    >=768
    >=992
    >=1200
*/
