@model sixteenBars.Models.QuoteViewModel

<h1>Delete Quote</h1>
@if (Model.Id > 0)
{
<h3>Are you sure you want to delete this quote?</h3>

    <div class="quote">
        @Html.DisplayFor(model => model.Text)
    </div>

using (Html.BeginForm()) {
    @Html.AntiForgeryToken()
    <p style="margin-top:15px;">
        <input type="submit" value="Delete" class="btn" />
            
        @Html.ActionLink("Cancel", "Index", "Quote",null, new { @class = "btn btn-inverse" })
    </p>
}
}
else
{

    <p>Quote Not Found</p>
}
