@model List<sixteenBars.Library.Quote>

@{Html.RenderAction("QOTD", "Quote", new { allowExplicit = false });}


<hr />

<div ng-app="SearchApp">
    
    <div ng-controller="SearchController">
        Search Term<input type="text" ng-model="searchTerm"/>
        <button ng-click="search()">Click me!</button>
        <ul>
            <li ng-repeat="quote in quotes">
                {{quote.Text + " "+ quote.Artist.Name}}
                <a href="/quote/details?id={{quote.Id}}">Details</a>
            </li>
        </ul>
        
    </div>
</div>

    @section Scripts{
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>


        <script>
            var searchApp = angular.module('SearchApp', []);

            searchApp.controller('SearchController', function ($scope, $http) {
                $scope.searchTerm;
                $scope.search = function () {
                    $http({
                        url: '/home/search',
                        data: { "searchTerm": $scope.searchTerm },
                        method: 'POST'
                    }).success(function (data, status, headers, config) {
                        $scope.quotes = data;
                    });
                };

            });

        </script>
    }
