@model List<sixteenBars.Library.Quote>
@{Html.RenderAction("QOTD", "Quote", new { allowExplicit = false });}
<div ng-app="SearchApp">
    <h3>Search</h3>
    <div ng-controller="SearchController">
        <form name="myForm" novalidate>
            <div class="col-md-3">
                <label for="searchTerm">Term:</label><br />

                <span style="color:red" ng-show="myForm.searchTerm.$dirty&&myForm.searchTerm.$isvalid">
                    <span ng-show="myForm.searchTerm.$error.required">Search term is required</span>
                </span>

                <input type="text" id="searchTerm" ng-model="searchTerm" required />
            </div>

            <div class="col-md-3">
                <label for="searchType">Type:</label><br />
                <select ng-model="searchType" id="searchType">
                    <option value="artist">
                        artist
                    </option>
                    <option value="quote" selected="selected">
                        quote
                    </option>
                    <option value="album">
                        album
                    </option>
                    <option value="track">
                        song
                    </option>
                </select>
            </div>
            <div class="col-md-3">
                <button ng-click="search()">SEARCH</button>
            </div>
            </form>
            <h3 ng-bind="searchTitle"></h3>
            <ol>
                <li ng-repeat="quote in quotes">
                    <em>"{{quote.Text}}"</em>  - {{quote.Artist.Name}} - <a href="/track/details?id={{quote.Track.Id}}">{{quote.Track.Title}}</a>
                    <a href="/quote/details?id={{quote.Id}}">Details</a>
                </li>
            </ol>

</div>
</div>

    @section Scripts{
        <script src="~/Scripts/angular.min.js"></script>

<script src="~/Scripts/sixteenBars-search.js"></script>
        
    }
