@model List<sixteenBars.Library.Quote>
@{Html.RenderAction("QOTD", "Quote", new { allowExplicit = false });}
<div ng-app="SearchApp">
    <h2>Search</h2>
    <div ng-controller="SearchController">
        <form name="myForm" novalidate role="form" class="form-inline">
            <div class="form-group">
                <label for="searchTerm">Term:</label>
                <input type="text" id="searchTerm" ng-model="searchTerm" class="form-control" required />
                <span style="color:red" ng-show="myForm.searchTerm.$dirty&&myForm.searchTerm.$isvalid">
                    <span ng-show="myForm.searchTerm.$error.required">Search term is required</span>
                </span>
            </div>

            <div class="form-group">
                <label for="searchType">Type:</label>
                <select ng-model="searchType" id="searchType" class="form-control">
                    <option value="artist">
                        artist
                    </option>
                    <option value="quote" selected="selected">
                        quote
                    </option>
                    <option value="album">
                        album
                    </option>
                    <option value="track">
                        song
                    </option>
                </select>
            </div>
            
                <button ng-click="search()" class="btn btn-inverse">SEARCH</button>
            
            </form>
            <h3 ng-bind="searchTitle"></h3>
            <ol>
                <li ng-repeat="quote in quotes">
                    <em>"{{quote.Text}}"</em>  - {{quote.Artist.Name}} - <a href="/track/details?id={{quote.Track.Id}}">{{quote.Track.Title}}</a>
                    <a href="/quote/details?id={{quote.Id}}">details</a>
                </li>
            </ol>

</div>
</div>

    @section Scripts{
        <script src="~/Scripts/angular.min.js"></script>

<script src="~/Scripts/sixteenBars-search.js"></script>
        
    }
