<div class="col-md-2 text-right">
    @if (Request.IsAuthenticated)
    {
        <text>
            @User.Identity.Name | @Html.ActionLink("Edit Profile", "Manage", "Account", routeValues: null, htmlAttributes: new { @class = "username", title = "Manage" })
            @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
            {
                @Html.AntiForgeryToken()
                <a href="javascript:document.getElementById('logoutForm').submit()">Logout</a>
            }
        </text>
        
    }
    else
    {
        @Html.ActionLink("Login", "login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    }
</div>