@model sixteenBars.Library.Track


<h1>Delete Track</h1>
@if (Model != null)
{
    <h3>Are you sure you want to delete the track named '@Html.Raw(Model.Title)' from the album titled '@Html.Raw(Model.Album.Title)'?</h3>
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <p>
            <input type="submit" value="Delete" class="btn btn-inverse" />
            &nbsp;
            @Html.ActionLink("Cancel", "Index", "Track", new { @class = "btn" })
        </p>
    }
}
else
{
    <p>Track Not Found</p>
}

